body {
	margin: 0;
}

.wrap {
	width: 800px;
	height: 600px;
	position: relative;
	margin: auto;
	background: #666;
}

.box{
	width: 400px;
	height: 400px;
	margin: auto;
	background: red;
	position: absolute;
	top: 20px;	left: 20px;
}