.wrap{
	min-width: 600px;
	width: 80%;
	margin: auto;
	background: yellow;
}

.content, aside {
	height: 500px;
}

.content{
	background: red;
	float: left;
	width: 80%;
}

aside {
	background: brown;
	float: left;
	width: 20%;
}

aside ul {
	/*padding-left: 18px;*/
	list-style: none;
	padding-left: 0px;
}

footer {
	clear: both;
}
/*
body {
	font-family: sans-serif;
}

li {
	display: inline;
	padding-right: 10px;
}

ul a {
	text-decoration: none;
	color: #666;
}

ul a:hover {
	text-decoration: underline;
	color: black;
}

ul {
	width: 120px;
}
*/